{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
      we have variety products
{% endblock %}
{% block title %}
   Search
{% endblock %}
{% block content %}
<div>
      <p class="text-center my_search_text">You have searched for : <b>"{{query}}"</b> </p>
</div>
<div>
    <div class="row ">
{% for product in products %}

<div class="card mb-3 shadow" style="width: 15rem;margin-right:10px;">
    <a href="{{product.get_url}}"><img class="card-img-top" src="{{product.img.url}}" alt="{{product.name}}" height="200px"></a>
  <div class="card-body">
    <h5 class="card-title" style="text-align:center;">{{product.name}}</h5>
    <p class="card-text" style="text-align:center;"> {{product.price}}</p>
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
  </div>
</div>

         {% empty %}
        <div class="row">
        <p class="text-center my_search_text">No result found</p>
            </div>
 {% endfor %}

 </div>
</div>
{% endblock %}